<h1><%= @country.name %></h1>

<%= image_tag @country.flag_url %>
<p> Population: <%= @country.population %> </p>
<p> Language: <%= @country.language %> </p>

<p> Continent:<%= @country.continent_id%> </p>
