<div class="container">
  <h1>Atlas</h1>
</div>

<div class="banner">
  <div class="container">
    <h2><%= @country.name %></h2>
  </div>
</div>

<div class="container">
  <%= image_tag @country.flag_url %>
  <p> Population: <%= @country.population %> </p>
  <p> Language: <%= @country.language %> </p>

  <p> Continent:<%= @country.continent[:name] %> </p>

  <hr>

  <%= link_to "[Edit]", edit_country_path(@country.id) %>
  <%= link_to "[Delete]", country_path, method: :delete, data: {confirm: "Are you really sure?"} %>
</div>
